---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { calculateReadingTime } from "../utils/calculateReadingTime";

const posts = await getCollection("posts");
const categories = [...new Set(posts.map((post) => post.data.category))];

const postsByCategory = categories.map((category) => ({
  name: category,
  posts: posts
    .filter((post) => post.data.category === category)
    .map((post) => ({
      ...post,
      readingTime: calculateReadingTime(post.body),
    })),
}));
---

<Layout title="Categories | Ferrel John Fernando">
  <div class="max-w-3xl mx-auto">
    <h1 class="text-4xl font-bold mb-8">Categories</h1>

    <div class="space-y-16">
      {
        postsByCategory.map(({ name, posts }) => (
          <section>
            <h2 class="text-2xl font-bold mb-6">{name}</h2>
            <div class="grid gap-6">
              {posts.map((post) => (
                <a href={`/posts/${post.slug}`}>
                  <article class="bg-card-light dark:bg-card-dark p-6 rounded-lg hover:ring-2 hover:ring-primary-light/60 dark:hover:ring-primary-dark/60 transition">
                    <h3 class="text-2xl font-bold mb-2">{post.data.title}</h3>
                    <div class="flex items-center gap-2 text-gray-600 dark:text-primary-dark text-sm">
                      <time>
                        {post.data.pubDate.toLocaleDateString("en-US", {
                          year: "numeric",
                          month: "long",
                          day: "numeric",
                        })}
                      </time>
                      <span>•</span>
                      <span>{post.readingTime} min read</span>
                    </div>
                  </article>
                </a>
              ))}
            </div>
          </section>
        ))
      }
    </div>
  </div>
</Layout>
